

<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <button (click)="addvehicle()" class="btn btn-success btn-sm float-right">Add</button>  
        <h4 class="card-title"> My Vehicles</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Sr.No
              </th>
              
              <!-- <th> Name</th> -->
              <th> Company</th>
              <th> Model</th>
              <th> Number</th>
              <th class="text-center">
                Action
              </th>
            </thead>
            <tbody>
           
              <tr *ngFor="let vehicle of vehicals; let index=index;">
                 



                <td>{{index+1}}</td>
                <td>{{vehicle['v_company_name']}}</td>
                <td>{{vehicle['v_model']}}</td>
                <td>{{vehicle['v_regNo']}}</td>
               
                
               
                <td>
                    <button (click)="onEdit(vehicle)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Edit</button>
                    <button (click)="onDelete(vehicle, index)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
                </td>
                
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


